<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <form method='POST' action='/login'>
      <h2>Login</h2>
      <input name='username' />
      <button>Login</button>
    </form>
  </body>
</html>