<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{artist.name}}</title>
  </head>
  <body>
    <p>Name: {{artist.name}}</p>
    <p>Followers: {{artist.followers}}</p>
    <p>Age: {{artist.age}}</p>
  </body>
</html>